apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: codeclashers

resources:
# Namespace
- namespaces/codeclashers.yaml

# Storage
- storage/mongodb-pvc.yaml
- storage/redis-pvc.yaml

# Services
- services/mongodb-service.yaml
- services/redis-service.yaml
- services/postgres-service.yaml
- services/judge0-server-service.yaml
- services/colyseus-service.yaml
- services/bots-service.yaml

# ConfigMaps and Secrets
- configmaps/app-config.yaml

# StatefulSets
- statefulsets/mongodb.yaml
- statefulsets/redis.yaml

# Deployments
- deployments/postgres.yaml
- deployments/judge0-server.yaml
- deployments/judge0-worker.yaml
- deployments/colyseus.yaml
- deployments/bots.yaml

# PodDisruptionBudgets
- pdbs/colyseus-pdb.yaml
- pdbs/judge0-server-pdb.yaml
- pdbs/judge0-worker-pdb.yaml
- pdbs/bots-pdb.yaml

