apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: codeclashers
  labels:
    app: grafana
spec:
  type: NodePort
  selector:
    app: grafana
  ports:
    - name: http
      port: 3000
      targetPort: 3000
      protocol: TCP
      nodePort: 3000  # External access on VM IP

