apiVersion: v1
kind: Service
metadata:
  name: kube-state-metrics
  namespace: codeclashers
  labels:
    app: kube-state-metrics
spec:
  selector:
    app: kube-state-metrics
  ports:
    - port: 8080
      targetPort: http-metrics
      name: http-metrics
    - port: 8081
      targetPort: telemetry
      name: telemetry

