apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: codeclashers
  labels:
    app: prometheus
spec:
  type: NodePort
  selector:
    app: prometheus
  ports:
    - name: http
      port: 9090
      targetPort: 9090
      protocol: TCP
      nodePort: 9090  # External access on VM IP

