apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: codeclashers-dev
  labels:
    app: grafana
spec:
  type: NodePort
  selector:
    app: grafana
  ports:
    - name: http
      port: 3030
      targetPort: 3000
      nodePort: 30300
      protocol: TCP

