apiVersion: v1
kind: Service
metadata:
  name: node-exporter
  namespace: codeclashers-dev
  labels:
    app: node-exporter
spec:
  clusterIP: None
  selector:
    app: node-exporter
  ports:
    - port: 9100
      targetPort: 9100
      name: metrics

