apiVersion: v1
kind: Service
metadata:
  name: mongodb
  namespace: codeclashers
spec:
  selector:
    app: mongodb
  ports:
    - port: 27017
      targetPort: 27017
      nodePort: 32017
  type: NodePort

