apiVersion: v1
kind: Service
metadata:
  name: redis-cluster
  namespace: codeclashers
spec:
  type: ClusterIP  # Use ClusterIP with externalIPs for direct binding
  externalIPs:
    - ${ORACLE_VM_IP}  # Will be substituted by kustomize or envsubst
  selector:
    app: redis-cluster
  ports:
  - port: 6379  # Must match REDIS_PORT in app-secrets
    targetPort: 6379
    protocol: TCP
    name: client

