apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: promtail
  labels:
    app: promtail
rules:
- apiGroups: [""]
  resources:
    - pods
    - pods/log
    - namespaces
    - nodes
    - nodes/proxy
  verbs: ["get", "list", "watch"]
