apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: promtail
  namespace: codeclashers-dev
  labels:
    app: promtail
    environment: development
spec:
  selector:
    matchLabels:
      app: promtail
  template:
    metadata:
      labels:
        app: promtail
        environment: development
    spec:
      serviceAccountName: promtail
      containers:
      - name: promtail
        image: grafana/promtail:latest
        ports:
        - containerPort: 3101
          name: http-metrics
        args:
        - -config.file=/etc/promtail/promtail.yml
        volumeMounts:
        - name: promtail-config
          mountPath: /etc/promtail
        - name: pods
          mountPath: /var/log/pods
          readOnly: true
        - name: varlibdockercontainers
          mountPath: /var/lib/docker/containers
          readOnly: true
        - name: positions
          mountPath: /tmp
        resources:
          requests:
            memory: 64Mi
            cpu: 50m
          limits:
            memory: 128Mi
            cpu: 100m
        securityContext:
          runAsUser: 0
      volumes:
      - name: promtail-config
        configMap:
          name: promtail-config
      - name: pods
        hostPath:
          path: /var/log/pods
      - name: varlibdockercontainers
        hostPath:
          path: /var/lib/docker/containers
      - name: positions
        emptyDir: {}
      tolerations:
      - effect: NoSchedule
        operator: Exists

