apiVersion: v1
kind: Service
metadata:
  name: mongodb
  namespace: codeclashers
  labels:
    app: mongodb
spec:
  type: ClusterIP
  externalIPs:
    - ${ORACLE_VM_IP} # External access on VM IP, port 27017
  selector:
    app: mongodb
  ports:
  - port: ${MONGODB_PORT}
    targetPort: ${MONGODB_PORT}
    protocol: TCP
    name: mongodb

