apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: codeclashers-dev
spec:
  type: ClusterIP
  selector:
    app: postgres
  ports:
    - port: 5432
      targetPort: 5432
      protocol: TCP

